*
{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar
{
    height: 60px;
    background-color: #0f1111;
    color: #fff;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.nav-logo
{
    height: 50px;
    width: 100px
}
.logo
{
    background-image: url('images/amazon_logo.png');
    background-size: cover;
    width: 100%;
    height: 50px;
}
.border
{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid #fff;
}
/* nav box 2 */
.first-add
{
color: #cccccc;
font-size: 0.85rem;
margin-left: 20px;
}
.sec-add
{
font-size: 1rem;
margin-left: 1px;
}
.add-icon
{
    display: flex;
    text-align: center;
}
/* nav box 3 */
.nav-search
{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover
{
    border: 2px solid #febd48;
}
.search-select
{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input
{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon
{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd48;
    font-size: 1.2rem;
    color: #000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* nav box 4 */
span
{
    font-size: 0.7rem;
}
.sec-add
{
    font-size: 0.85;
    font-weight: 700;
}
/* nav box 5 */

.nav-cart i{
    font-size: 30px;
}
.nav-cart
{
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel */
.panel
{
    display: flex;
    background-color: #222f3d;
    height: 40px;
    color: #fff;
    align-items: center;
    justify-content: space-evenly;
}
.all-panel
{
    display: flex;
    width: 10pex;
}
.ops-panel p
{
    display: inline;
    font-size: 0.85rem;
    margin-left: 15px;
}
.ops-panel 
{
    width: 70%;
}
.deals-panel
{
    font-size: 0.90rem;
}

/* hero section */
.hero-section
{
    background-image: url('images/hero_image.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;

}
.hero-msg
{
    background-color: #fff;
    color: #000;
    height: 40px;
    display: flex;
align-items: center;
justify-content: center;
width: 80%;
margin-bottom: 25px;
}
